/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000;

$mainColor: white;
$headingColor: $mainColor;
$linkColor: $mainColor;

$mainFontSize: 42px;
$mainFont: 'Didot';
$headingFont: 'Didot';
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
		letter-spacing: 4px;
	}
}

.reveal h3.big {
	font-size: 6rem !important;
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------