.grateful {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1em;
  max-width: 1440px;
  margin: 0 auto;
  grid-auto-flow: column dense;
}

.awesome-folk {
  font-family: "Gilbert Color" !important;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
}
.awesome-folk a::before {
  content: "thank you";
  font-size: 1rem;
  white-space: nowrap;
  margin-right: 0.5rem;
}
.awesome-folk a {
  margin: auto;
  cursor: pointer;
  mix-blend-mode: screen;
}
