/* personal utilities */

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.increase-specificity .reveal .slides section {
  padding-top: 0;
}

.increase-specificity .reveal section img {
  border: 0;
  margin: 0;
  background: unset;
  box-shadow: none;
}

.increase-specificity .reveal pre {
  box-shadow: unset;
}

.increase-specificity .reveal code {
  background: unset;
  font-family: "Dank Mono", "Ubuntu Mono", monospace;
}

.increase-specificity .reveal blockquote {
  text-align: left;
  border-left: 8px solid;
  padding-left: 2rem;
  background: unset;
  box-shadow: unset;
  font-style: normal;
}

.increase-specificity .reveal .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.increase-specificity .reveal .fits-screen {
  height: 700px;
}

.increase-specificity .reveal .spaced > :not(:last-child) {
  margin-right: 0.5rem;
}