/**
 * A revealjs slides theme by Wei Gao, https://wgao19.cc
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@font-face {
  font-family: "Gilbert Color";
  src: url(../../../../../assets/font/gilbert-color/gilbert-color.otf)
    format("opentype");
}
@font-face {
  font-family: "Gilbert";
  src: url(../../../../../assets/font/gilbert-color/gilbert.otf)
    format("opentype");
}

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$alpha: 0.6;
$ua-blue: rgba(0, 51, 171, $alpha);

$orange: rgb(255, 107, 0);
$red: rgb(255, 67, 56);
$green: rgb(5, 206, 124);
$blue: rgb(0, 179, 227);
$magenta: rgb(218, 58, 179);
$yellow: rgb(255, 200, 67);
$number-of-colors: 5;

$mainColor: #444;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: "Gilbert", Helvetica, sans-serif;
$headingFont: "Gilbert Color", Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: $ua-blue;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-dark-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}
.reveal blockquote {
  border: 0 !important;
  background-image: linear-gradient(
      -15deg,
      transparent 0,
      transparent 20%,
      $magenta 0,
      $magenta 80%,
      transparent 0
    ),
    linear-gradient(
      15deg,
      transparent 0,
      transparent 20%,
      $blue 0,
      $blue 80%,
      transparent 0
    ),
    linear-gradient(
      -15deg,
      transparent 0,
      transparent 20%,
      $yellow 0,
      $yellow 80%,
      transparent 0
    ),
    linear-gradient(
      15deg,
      transparent 0,
      transparent 20%,
      $orange 0,
      $orange 80%,
      transparent 0
    ),
    linear-gradient(
      -15deg,
      transparent 0,
      transparent 20%,
      $green 0,
      $green 80%,
      transparent 0
    ),
    linear-gradient(
      15deg,
      transparent 0,
      transparent 20%,
      $red 0,
      $red 80%,
      transparent 0
    ) !important;

  background-size: 8px calc(141.4% / #{$number-of-colors - 0.5}) !important;
  background-repeat: no-repeat !important;
  background-position-y: 0, calc(100% / #{$number-of-colors}),
    calc(200% / #{$number-of-colors}), calc(300% / #{$number-of-colors}),
    calc(400% / #{$number-of-colors}), calc(500% / #{$number-of-colors}) !important;
  background-blend-mode: multiply;
}

.reveal .controls .controls-arrow::before {
  content: "<";
  font-family: "Gilbert Color";
  width: unset;
  height: unset;
  background: unset;
  font-size: 48px;
  transform: translateX(23px) translateY(-11px);
}
.reveal .controls .controls-arrow::after {
  content: none;
}
.reveal .controls .controls-arrow:hover::before {
  transform: translateX(23px) translateY(-11px) scale(1.1);
}

.reveal section pre {
  font-family: "Dank Mono";
}

.colorful {
  font-family: "Gilbert Color" !important;
  font-size: 1.1em;
}

.reveal section ul {
  list-style: none;
}
.reveal section ul li::before {
  content: "/";
  font-family: "Gilbert Color";
  transform: skewY(68deg) rotate(2deg);
  display: inline-block;
}

@import "../template/theme";
